[*.cs]

# Justification: Don't enforce for template code
dotnet_diagnostic.CA2007.severity = none

# Justification: Don't enforce for template code
dotnet_diagnostic.IDE0065.severity = none
dotnet_diagnostic.PS0018.severity = none
dotnet_diagnostic.PS0003.severity = none
